* {
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

body {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    width: 100vw;
    font-size: 42px;
    font-weight: bolder;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 32px;
}

#calculadora {
    background-color: black;
    padding: 20px;
}

button {
    padding: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    font-size: 32px;
    font-weight: bolder;
    font-family: sans-serif;
}

p {
    text-align: end;
    background-color: white;
    color: black;
    padding: 30px;
    margin-bottom: 10px;
    height: 42px;
}

.twocolums {
    height: 140px;
}

.tworows {
    width: 140px;
}

@media (max-width: 400px ) {
    body {
        max-width: 100vh;
        max-height: 80vh;
    }
}
